.card_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2em;
}



.view_button{
    background-color: #db7414;
    color: white;
    border-radius: 10px;
    outline: none;
    padding: 6px 25px;
}

.delete_button{
    background-color: rgb(202, 10, 10);
    color: white;
    border-radius: 10px;
    outline: none;
    padding: 6px 25px;
}

.addurgent{
    background-color: white;
    color: #981041;
    text-align: right;
    border: none;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    outline: none !important;
    box-shadow: none !important;
    margin-top:2em;
    display: block;
}