.card_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2em;
}



.view_button{
    background-color: #db7414;
    color: white;
    border-radius: 10px;
    outline: none;
    padding: 6px 25px;
}

.delete_button{
    background-color: red;
    color: white;
    border-radius: 10px;
    outline: none;
    padding: 6px 25px;
}