.urgent_board{
    background-color: #981041;
    height: 100%;
    margin: 0;
    min-height:83vh;
    overflow:auto;
    
}

.urgent_heading{
    padding-top: 4%;
    text-align: center;
    color: white;
}
.search__div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}
.search__form > *{
    margin-left: 1rem;
    margin-right: 1rem;
}
.search__input{
    border-radius: 10px 10px 10px 10px;
    outline: none;
    padding:5px;
    
}

.search__button{
    background-color: #db7414;
    color: white;
    border-radius: 10px;
    outline: none;
    padding: 6px 25px;
}


.enroll{
    background-color: #db7414;
    color: white;
    border-radius: 10px;
    outline: none;
    padding: 6px 25px;
    margin-left: 85%;
}

.card-sp:hover{
    animation-name: card-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    
}

@keyframes card-hover{
    100%{
        box-shadow: 0px 0px 40px 14px rgba(248, 138, 138, 0.74);
        width: 21rem;
        height:19rem;

    }
}


.card-sp2:hover{
    animation-name: card-hover2;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    
}

@keyframes card-hover2{
    100%{
        box-shadow: 0px 0px 40px 14px rgba(248, 138, 138, 0.74);
    }
}
.yes{
    background-color:#119749;
    color: white;
    text-align: right;
    border: none;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    outline: none !important;
    box-shadow: none !important;
    margin-top:2em;
    display: block;
    
}

.no{
    background-color:rgb(202, 10, 10);
    color: white;
    text-align: right;
    border: none;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    outline: none !important;
    box-shadow: none !important;
    margin-top:2em;
    display: block;
   
}

.urgent_searchbar{
    border-radius: 10px 0 0 10px;
    width: 60%;
    border: none;
    outline: none;
    padding:6px 6px 6px 8px;
    margin:10px 0 10px 0;
    
}
.search_button2{
    background-color: white;
    color:black;
    border:none;
    padding: 6px;
    outline: none;
    border-radius: 0 10px 10px 0;

}