.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
}

.nav__buttons{
    list-style:none;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    margin-top: 2%;
    margin-right: 2%;

}
.nav__btn{
   background-color:#F58216;
   padding: 10px 30px;
   color: white;
   border: none;
   border-radius: 10px;
   outline: none !important;
   box-shadow: none !important;
   margin: 0 2.5em 0 2.5em;
   
    
}
.nav2{
    background-color:#981041;
    min-height: 6vh;
    border-top: 8px solid #F58216;
    padding-right: 2em;

}
.drop{
    padding:1em 2em 1em 2em;
    color: white;
    text-transform: uppercase;
    
}

.drop:hover{
    background-color: white;
    color:#981041;
}


.form__input{
    width: 100%;
    border-radius: 5px;
    border: 0.5px solid #981041;
    outline: none;
    min-height: 2em;
}

.form__btn{
    
    background-color:#981041;
    padding: 10px 30px;
    color: white;
    border: none;
    border-radius: 10px;
    outline: none !important;
   box-shadow: none !important;

}


.form_lab{
    color: #981041
}
.header__logo{
    width: 300px;
    height: 100px;
    margin-left:30%;
}

.disp__images{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding-top: 1%;
}
.dispimg{
    background-color: #981041;
    min-height: 35vh;
    
}
.disp__images__image{
    width:450px;
    height:280px;
    border-radius: 20px;
}

.btn1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding-top: 1%;
    margin-top: 2%;

}
.user{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    
}
.navicon{
    display: flex;
    flex-direction: column;
    padding:0 6em 0 2em;
    

}

.grid{
    margin-top: 1.5%;
}

.dropdown {
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    padding: 11px 15px;
    text-decoration: none;
    color: #981041;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f0eeeec7;color: brown;}
  
  .dropdown:hover .dropdown-content {
    display:block
  }