.update__profile{
    min-height: 100vh;
    width: 50%;
    margin: auto;
}
.update__profile_head{
    display:flex;
    align-items: center;
    justify-content:flex-start;
    margin-top: 50px;
}
.update__profile__image{
    border-radius: 50%;
}
.update__profile__name{
    padding-left:1.5em;
}

.save_btn{
    background-color:#1FAA59;
    color: white;
    text-align: right;
    border: none;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    outline: none !important;
    box-shadow: none !important;
    margin-top:2em;

}
.update__form{
    margin-top:50px;
}
select{
    background-color: white;
}