.sign_up{
    margin-top: 2%;
    text-align: center;
    color: #981041;
}
.signup__form{
    text-align: left;
    padding-left:30%;
    margin-top: 3%;
}
.form2__input{
    width: 55%;
    border-radius: 5px;
    border: 0.5px solid #981041;
    outline: none;
    min-height: 2em;
    padding-left:0.5%;
}

.form2__lab{
    margin-top:1%;
}

.btn{
    width: 57%;
    display: flex;
    align-items: center;
    justify-content: center;
}
